{% extends 'utils/main.html' %} 
{% block content %}
<section class="content" ng-show="!transitioning" style="">
<section class="container">
<div class="col-md-16 col-sm-16 col-xs-16">
<div class="x_panel">
	<div class="x_title">
		<input type="hidden" id="cloud_name" value="{{cloud_name}}"/>
		<h2>New CCD Cloud Calculator Results for {{cloud_name}}</h2>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">
<div class="x_panel">
<div class="x_title">
  <h3>Compute Host Summary</h3>
</div>
<div class="panel-body">
<table id="hosts" class="table table-striped table-condensed table-hover dataTable no-footer"
										data-ng-animate="2" style="margin-left: 0px; width: 100%;">
  <thead>
	<tr>
		<th>Host</th>
		<th>Remaining CPU</th>
		<th>Remaining RAM (GB)</th>
		<th>Instances</th>
	</tr>
  </thead>
  <tbody>
    {% for key,value in hosts.items %}
    <tr>
        <td>{{key}}</td>
        <td>{{value.cpu}}</td>
		<td>{{value.ram}}</td>
		<td>{{value.instances|length}}</td>
    </tr>
	{% endfor %}
  </tbody>
</table>
<div class="x_title">
  <h3>Cloud Summary</h3>
</div>
  
{% if cloud_summary.total_remaining_cpu > 10 %}
  <div style="background-color: #90EE90 ; padding: 2px; border: 2px solid green;">
    <p>Total remaining CPU:  {{cloud_summary.remaining_cpu}} / {{cloud_summary.cpu_no_of_hosts}} ({{cloud_summary.total_remaining_cpu}}%) CPU increased by {{cloud_summary.cpu_increased_by}},</p>
  </div>
{% else %}
  <div style="background-color: #ffcccb ; padding: 2px; border: 2px solid red;">
    <p>Total remaining CPU:  {{cloud_summary.remaining_cpu}} / {{cloud_summary.cpu_no_of_hosts}} ({{cloud_summary.total_remaining_cpu}}%) CPU increased by {{cloud_summary.cpu_increased_by}},</p>
  </div>
{% endif %}
  
  
  
{% if cloud_summary.total_remaining_ram > 10 %}
  <div style="background-color: #90EE90 ; padding: 2px; border: 2px solid green;">
    <p>Total remaining RAM:  {{cloud_summary.remaining_ram}} / {{cloud_summary.ram_no_of_hosts}} ({{cloud_summary.total_remaining_ram}}%) RAM increased by {{cloud_summary.ram_increase}}</p>
  </div>
{% else %}
  <div style="background-color: #ffcccb ; padding: 2px; border: 2px solid red;">
    <p>Total remaining RAM:  {{cloud_summary.remaining_ram}} / {{cloud_summary.ram_no_of_hosts}} ({{cloud_summary.total_remaining_ram}}%) RAM increased by {{cloud_summary.ram_increase}}</p>
  </div>
{% endif %}



{% if cloud_summary.av_remaining_cpu_per_host > 10 %}
  <div style="background-color: #90EE90 ; padding: 2px; border: 2px solid green;"> 
    <p>Average remaining CPU per host:  {{cloud_summary.remaining_cpu_len_hosts}} ({{cloud_summary.av_remaining_cpu_per_host}} %)</p>
  </div>
{% else %}
  <div style="background-color: #ffcccb ; padding: 2px; border: 2px solid red;">
    <p>Average remaining CPU per host:  {{cloud_summary.remaining_cpu_len_hosts}} ({{cloud_summary.av_remaining_cpu_per_host}} %)</p>
  </div>
{% endif %}



{% if cloud_summary.av_remaining_ram_per_host > 10 %}    
  <div style="background-color: #90EE90 ; padding: 2px; border: 2px solid green;"> 
    <p>Average remaining RAM per host:  {{cloud_summary.remaining_ram_len_hosts}} ({{cloud_summary.av_remaining_ram_per_host}} %)</p>
  </div>
{% else %}
  <div style="background-color: #ffcccb ; padding: 2px; border: 2px solid red;">
    <p>Average remaining RAM per host:  {{cloud_summary.remaining_ram_len_hosts}} ({{cloud_summary.av_remaining_ram_per_host}} %)</p>
  </div>
{% endif %} 
  
   
  <div style="background-color: #90EE90 ; padding: 2px; border: 2px solid green;">  
    <p>Total number of instances:  {{cloud_summary.total_number_of_instances}}</p>
  </div>


{% if skipped_vms %}
<div class="x_title">
  <h3>Skipped VMs</h3>
</div>
  <table id="skipped_vms" class="table compact   table-bordered">
  <thead>
	<tr>
		<th>VM Name</th>
		<th>CPU</th>
		<th>RAM</th>
	</tr>
  </thead>
  <tbody>
    {% for key,value in skipped_vms.items %}
    <tr>
        <td>{{key}}</td>
        <td>{{value.cpu}}</td>
		<td>{{value.ram}}</td>
    </tr>
	{% endfor %}
  </tbody>
</table>
{% endif %}
</div>
</div>
</div>
</div>
</div>
<div>
<input type="hidden" id="cloud_plan" name="cloud_plan" value="{{cloud_plan_text}}"/>
<input type="button" id="download_button" class="btn btn-primary" value="Download cloud plan"/>
</div>
</section>
</section>

{% endblock content %}

{% block extrascripts %}
<!-- Custom Theme Style -->
<script type="text/javascript">

$(function() {
	var cloud_summary = document.getElementsByTagName('p');
	for(var i =0; i < cloud_summary.length; i++){
		if(cloud_summary[i].textContent.includes("Total remaining")){
			$(cloud_summary[i]).append("&#8593;");
		}
	}
});

function download(filename, text) {
	var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);

    element.click();

    document.body.removeChild(element);
}

document.getElementById("download_button").addEventListener("click", function(){
	var cloud_name = document.getElementById("cloud_name").value;
    var text = document.getElementById("cloud_plan").value;
    var datetime = new Date();
    var current_date = datetime.getDate();
    var current_month = datetime.getMonth();
    var current_year = datetime.getFullYear();
    var date_string = "" + current_date + (current_month + 1) + current_year; 
    var filename = "cloud_" + cloud_name + "_plan__" + date_string + ".txt";
    
    download(filename, text);
}, false);
</script>
{% endblock extrascripts %}





